# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# IDE
.idea/
.vscode/

# Generated outputs
output/

# System files
.DS_Store
Thumbs.db

# Notebook cache
.ipynb_checkpoints/

# Logs
*.log